<div style="display: flex;">
<aside class="sidebar">
    <div class="logo">STUDENT SMS</div>
    <nav>
        <ul>
            <li><a routerLink="/dashboard/dashboard">Dashboard</a></li>
            <li><a routerLink="/dashboard/studentslist"> StudentsList</a></li>
            <li><a routerLink="/dashboard/subjects">Subjects</a></li>
            <li><a routerLink="/dashboard/classes">Classes</a></li>
            <li><a routerLink="/dashboard/teachers"> Teachers</a></li>
        </ul>
    </nav>
    <div>
<button class="logout-btn" (click)="onLogout()">Logout</button>
    </div>
   
</aside>
</div>
