$primary-blue: #0078d4;
$hover-blue: #005ea6;
$white: #ffffff;
$gray-text: #666;

.login-page {
  .clr-red {
    color: red;
  }

  .error-msg {
    font-size: 12px;
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  .login-card {
    width: 350px;
    ;
    padding: 40px;
    background: $white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    h2 {
      text-align: center;
      color: $primary-blue;
      margin-bottom: 30px;
      font-weight: bold;
    }

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
      }

      input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .login-btn {
        width: 200px;
        padding: 12px;
        background-color: $primary-blue;
        color: $white;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: $hover-blue;
        }
      }

      .signup-link {
        margin-top: 20px;
        font-size: 14px;
        color: $gray-text;

        a {
          color: $primary-blue;
          text-decoration: none;
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }
  }
}