<div class="login-page">
  <div class="login-card">
    <h2>Login</h2>

    <div class="form-group">
      <input type="text" name="username" [(ngModel)]="loginRequest.username" placeholder="user name">
    </div>

    <div class="form-group">
      <input type="password" name="password" [(ngModel)]="loginRequest.password" placeholder=" password">
    </div>

    <div class="action-area">
      <button (click)="onLogin()" class="login-btn">Login</button>
      <span *ngIf="error">{{error}}</span>
      
      <div class="signup-link">
        <span>Don't have an account?</span>
        <a routerLink="/auth/register">Sign up</a>
      </div>
    </div>
  </div>
</div>
