.main-wrapper{
  display: flex;
   min-height: 100vh;
}

.content-area{
  flex: 5; display: flex; flex-direction: column;
  
}
.router-container{
  flex: 1; 
  display: flex; 
  justify-content: center; 
  align-items: flex-start;
  padding:10px;
}
.top-nav {
  background: white;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align:left;
}

.logout-btn {
  margin-top: auto;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
