<!-- 
<div class="main-wrapper" [class.logged-in]="showSidebar">
  
  @if (showSidebar) {
    <aside class="sidebar">
      <div class="logo">STUDENT SMS</div>
      <nav>
        <ul>
          <li><a routerLink="/dashboard"><i class="icon"></i> Dashboard</a></li>
          <li><a routerLink="/teachers"><i class="icon"></i> Teachers</a></li>
          <li><a routerLink="/students" routerLinkActive="active"><i></i> Students</a></li>
          <li><a routerLink="/classes"><i></i> Classes</a></li>
        </ul>
      </nav>
      <button class="logout-btn" (click)="onLogout()">Logout</button>
    </aside>
  }

  <main class="content-area">
    @if (showSidebar) {
      <header class="top-nav">
        <span>Welcome, Admin</span>
      </header>
    }

   
    <router-outlet></router-outlet>
  </main>
</div> -->
<nav>
        <ul>
          <li><a routerLink="/authmodule/login">Login</a></li>
          <li><a routerLink="/authmodule/register">Register</a></li> 
          <li><a routerLink="/dashboardmodule/students"> Classes</a></li>
          <li><a routerLink="/dashboardmodule/classes">Teachers</a></li>
          <li><a routerLink="/dashboardmodule/teacher" > Students</a></li>
          
        </ul>
 </nav>
<router-outlet></router-outlet>