.sidebar{
    width: 200px;
    height: 100vh;
    background-color: #1e293b;
    color: white;
    padding: 24px;
    position: fixed;
}

.sidebar a{
    display: block;
    margin: 15 px 0;
    cursor: pointer;
   
}
.sidebar h2{
    margin-bottom: 30px;
}
.sidebar a{
    display: block;
    margin: 22px;
    color:#cbd5f5;
    text-decoration: none;
    border-radius: 8px;

}
.sidebar a:hover{
    background-color: rgba(255, 255, blue255, 0.1);
    color: white;
}