
<div class="dashboard-container">
  <h2>Admin Dashboard Overview</h2>
  
  <div class="card-grid">
  
    <div class="card student-card">
      <div class="card-info">
        <h3>Total Students</h3>
        <p class="count">{{ totalStudents }}</p>
      </div>
   
    </div>


    <div class="card teacher-card">
      <div class="card-info">
        <h3>Total Teachers</h3>
        <p class="count">{{ totalTeachers }}</p>
      </div>
   
    </div>

   
    <div class="card class-card">
      <div class="card-info">
        <h3>Total Classes</h3>
        <p class="count">{{ totalClasses }}</p>
      </div>
    
    </div>
  </div>
</div>
