:root{
    --primary-color:#2563eb;
    --secondary-color: #1e293b;
    --background-color: #f8fafc;
    --card-bg:#ffffff;
    --text-dark:#0f172a;
    --text-light:#64748b;
    --border:#e5e7eb;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter ', Arial,sans-serif;
}

